In [104]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math as m
from scipy import stats
import sklearn.metrics as metrics 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import sklearn

In [105]:
df=pd.read_csv("Boston.csv")
df.head(10)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
5,6,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7
6,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9
7,8,0.14455,12.5,7.87,0,0.524,6.172,96.1,5.9505,5,311,15.2,396.90,19.15,27.1
8,9,0.21124,12.5,7.87,0,0.524,5.631,100.0,6.0821,5,311,15.2,386.63,29.93,16.5
9,10,0.17004,12.5,7.87,0,0.524,6.004,85.9,6.5921,5,311,15.2,386.71,17.10,18.9

In [106]:
df.describe()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,253.500000,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,146.213884,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,1.000000,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,127.250000,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,253.500000,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,379.750000,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,506.000000,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [107]:
'''Use the boston.csv dataset and determine the best 5 features to predict
‘MEDV’'''
corrM = df.corr()
print(corrM)
print("Top 5 features are lstat,rm,ptratio,indus,tax")

            Unnamed: 0      crim        zn     indus      chas       nox  \
Unnamed: 0    1.000000  0.407407 -0.103393  0.399439 -0.003759  0.398736
crim          0.407407  1.000000 -0.200469  0.406583 -0.055892  0.420972
zn           -0.103393 -0.200469  1.000000 -0.533828 -0.042697 -0.516604
indus         0.399439  0.406583 -0.533828  1.000000  0.062938  0.763651
chas         -0.003759 -0.055892 -0.042697  0.062938  1.000000  0.091203
nox           0.398736  0.420972 -0.516604  0.763651  0.091203  1.000000
rm           -0.079971 -0.219247  0.311991 -0.391676  0.091251 -0.302188
age           0.203784  0.352734 -0.569537  0.644779  0.086518  0.731470
dis          -0.302211 -0.379670  0.664408 -0.708027 -0.099176 -0.769230
rad           0.686002  0.625505 -0.311948  0.595129 -0.007368  0.611441
tax           0.666626  0.582764 -0.314563  0.720760 -0.035587  0.668023
ptratio       0.291074  0.289946 -0.391679  0.383248 -0.121515  0.188933
black        -0.295041 -0.385064  0.175520 -0.356977  0.048788 -0.380051
lstat         0.258465  0.455621 -0.412995  0.603800 -0.053929  0.590879
medv         -0.226604 -0.388305  0.360445 -0.483725  0.175260 -0.427321

                  rm       age       dis       rad       tax   ptratio  \
Unnamed: 0 -0.079971  0.203784 -0.302211  0.686002  0.666626  0.291074
crim       -0.219247  0.352734 -0.379670  0.625505  0.582764  0.289946
zn          0.311991 -0.569537  0.664408 -0.311948 -0.314563 -0.391679
indus      -0.391676  0.644779 -0.708027  0.595129  0.720760  0.383248
chas        0.091251  0.086518 -0.099176 -0.007368 -0.035587 -0.121515
nox        -0.302188  0.731470 -0.769230  0.611441  0.668023  0.188933
rm          1.000000 -0.240265  0.205246 -0.209847 -0.292048 -0.355501
age        -0.240265  1.000000 -0.747881  0.456022  0.506456  0.261515
dis         0.205246 -0.747881  1.000000 -0.494588 -0.534432 -0.232471
rad        -0.209847  0.456022 -0.494588  1.000000  0.910228  0.464741
tax        -0.292048  0.506456 -0.534432  0.910228  1.000000  0.460853
ptratio    -0.355501  0.261515 -0.232471  0.464741  0.460853  1.000000
black       0.128069 -0.273534  0.291512 -0.444413 -0.441808 -0.177383
lstat      -0.613808  0.602339 -0.496996  0.488676  0.543993  0.374044
medv        0.695360 -0.376955  0.249929 -0.381626 -0.468536 -0.507787

               black     lstat      medv
Unnamed: 0 -0.295041  0.258465 -0.226604
crim       -0.385064  0.455621 -0.388305
zn          0.175520 -0.412995  0.360445
indus      -0.356977  0.603800 -0.483725
chas        0.048788 -0.053929  0.175260
nox        -0.380051  0.590879 -0.427321
rm          0.128069 -0.613808  0.695360
age        -0.273534  0.602339 -0.376955
dis         0.291512 -0.496996  0.249929
rad        -0.444413  0.488676 -0.381626
tax        -0.441808  0.543993 -0.468536
ptratio    -0.177383  0.374044 -0.507787
black       1.000000 -0.366087  0.333461
lstat      -0.366087  1.000000 -0.737663
medv        0.333461 -0.737663  1.000000
Top 5 features are lstat,rm,ptratio,indus,tax

In [108]:
'''Using sklearn.linear_model, find the multiple regression model for the
boston.csv dataset using the best 3 features. (from sklearn.linear_model import
LinearRegression) 
'''
df_1=df[["lstat","ptratio","rm","medv"]]

x = df_1.drop('medv',axis=1)

y = df_1['medv']

print(x.shape[0])
print(y.shape[0])

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 1)
print(x_test.shape)
print(y_test.shape)
LR = LinearRegression()
# fitting the training data
LR.fit(x_train,y_train)

y_prediction =  LR.predict(x_test)
y_prediction

506
506
(102, 3)
(102,)

array([27.87445626, 28.27689602, 18.57937819, 23.34416858, 18.87315027,
       21.20438924, 27.93026267, 19.12023064, 20.25956277, 26.05431213,
       25.6181643 , 30.47421431, 20.60087618, 24.46192946, 22.24691823,
       18.66633034, 16.07804408, 37.72260004, 28.91746234, 11.14695793,
       21.16304851, 21.43367194, 25.764478  , 25.88106591, 29.67163146,
       12.52463052, 14.90031584, 22.52554054, 35.85826712, 12.68402174,
       28.14619564, 15.98837791, 38.75020549, 18.57509107, 25.72408706,
       19.99248671, 18.12128467, 30.01888884,  6.43449493, 18.91446662,
       27.47908431, 24.52339763, 27.92604078, 13.71123222, 17.38408396,
       17.04132887, 38.43165625, 17.2388588 , 27.27895078, 21.9121503 ,
       24.18084563, 25.57530188, 27.35297414, 27.34915756,  6.43266747,
       25.57981949,  9.06102536, 26.01495752, 17.84452675, 36.29969531,
       20.02449086, 27.53168731, 14.59596696, 18.2365966 ,  9.18905341,
       30.42991892, 37.51734226, 28.47014661, 25.31226984, 25.25531796,
       25.47019632,  5.47877234, 15.09990671, 22.04412142, 18.80748059,
       20.2641078 , 29.45664782, 28.97092076, 30.26940315, 30.58077501,
       18.90764671, 23.66275696, 33.53978987, 15.98398549, 26.15256216,
       30.97143199, 17.51363494, 26.55638226, 19.18742672, 17.61394199,
       26.94138346, 41.64152107, 16.68689066, 24.90448706, 19.52204763,
       24.39691563, 23.0992756 , 26.14377789, 36.26000059, 19.71081192,
       17.43781771, 18.04487594])

In [109]:
'''Find the accuracy of the model using appropriate metrics using 80, 20 split for
training and test.'''
r2score=r2_score(y_test,y_prediction)
print("r2 score:",r2score)
print("root_mean_squared error:",np.sqrt(mean_squared_error(y_test,y_prediction)))

r2 score: 0.6959056368091423
root_mean_squared error: 5.482048163355874